[submodule "deps/datachannel-wasm"]
	path = deps/datachannel-wasm
	url = https://github.com/paullouisageneau/datachannel-wasm.git
[submodule "deps/clip"]
	path = deps/clip
	url = https://github.com/dacap/clip.git
[submodule "deps/SDL"]
	path = deps/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "deps/libmypaint"]
	path = deps/libmypaint
	url = https://github.com/mypaint/libmypaint.git
