<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>CFBundleIdentifier</key>
	<string>com.inkternity.inkternity</string>
	<key>CFBundleName</key>
	<string>Inkternity</string>
	<key>CFBundleDisplayName</key>
	<string>Inkternity</string>
	<key>CFBundleSpokenName</key>
	<string>Inkternity</string>
	<key>CFBundleVersion</key>
	<string>0.4.1</string>
	<key>CFBundleShortVersionString</key>
	<string>0.4.1</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2026 Yousef Khadadeh</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en-US</string>
	<key>CFBundleExecutable</key>
	<string>inkternity</string>
	<key>CFBundleIconFile</key>
	<string>appicon</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Inkternity Canvas</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.inkternity.inkternity</string>
			</array>
		</dict>
	</array>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.inkternity.inkternity</string>
			<key>UTTypeDescription</key>
			<string>Inkternity Canvas</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>inkternity</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
